{% extends "base.html" %} {% block content %}
<style>
  .vertical {
    border-left: 4px solid rgb(0, 0, 0);
    height: 250px;
    position: absolute;
    left: 50%;
    padding-left: 50px;
    /* padding-top:50px; */
  }

  .form_ {
    background-color: #ffffff;
    width: 350px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .input_ {
    all: unset;
    font: 16px system-ui;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 30px;
  }

  .zoom {
    transition: transform .2s;
    /* Animation */
    width: 320px;
    height: 320px;

  }

  .zoom:hover {
    transform: scale(1.7);
  }

  /* .alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
  }

  .alert-success {
    background-color: #6cf436;
  }  */

  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
  function myFunction() {
    var txt;
    var r = confirm("Please confirm you want to delete!\nEither OK or Cancel.");
    if (r == true) {
      txt = document.getElementById("delete-prompt").name;
    } else {
      txt = "cancel"
    }
    // document.getElementById("demo").innerHTML = txt;
    document.getElementById("delete-check").value = txt
  }
</script>


<section class="u-align-left u-clearfix u-palette-1-light-2 u-section-1" id="sec-6ab9">
  <div class="u-clearfix u-sheet u-sheet-1">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="u-layout-row alert alert-{{ category }}" style="margin-top:15px">
      <p style=" margin-top:5px;">{{ message }}</p>
      <p style=" padding-left:720px;"> </p>
      <span class="closebtn" style="margin-bottom:-20px; font-size:30px;"
        onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="u-layout-row">
      <div class="u-container-layout u-container-layout-2">
        <p style="font-size: 30px; margin-left:-60px; "><b>Query Plant By categories (Total: {{ total_count }}):</p></b>
      </div>
      <div class="u-container-layout u-container-layout-2" style="margin-left:-50px; padding-top:50px;">
        <div class="u-layout-col">
          <form action="#" method="POST" class="form_">
            <div style=" padding-right:300px; ">
              <input type="text" name="query" placeholder="Search..." class="input_">
            </div>
            <div style=" padding-right:10px; ">
              <input type="submit" value="Submit"
                class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn"
                style="background-color:#494399;">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1" style="margin: -1%; ">
      {% for upload in uploads.items %}
      <div class="u-layout " style="margin-top: 60px;">
        <div class="u-layout-row">
          <div class="u-container-layout u-container-layout-2 ">
            <img width="250" height="250" src="{{ url_for('static', filename='images/' + upload.path) }}" class="zoom">
          </div>
          <div class="vertical" style="margin-left:-100px; margin-top:70px;">
            <p style="font-size: 23px;"><b>Plant:</b> <b style="color:#053a11" ;>{{ upload.plant|upper }}</p></b>
            <p><b>categories:</b> {{ upload.predict }}</p>
            <p><b>Confidence Scale:</b> {{ upload.confidence }}</p>
            <p><b>Verified✅:</b> {{ upload.verified }}</p>
            <p><b>Upload:</b> {{ upload.date_upload.strftime('%Y-%m-%d') }}</p>
          </div>
          <div>
            <div class="vertical " style="margin-left:350px; margin-top:70px;">
              <div class="u-layout-row" style="width:260px">
              <form action="" method="post">
                  <div>
                    <label><b style="font-size: 23px;">Edit Category:</b></label>
                  </div>
                  <div>
                    <select name="update" method="post" action="/all_upload" style="width:260px" class="form_">
                      <option value="{{ category }}||{{ upload.path }}" selected>{{ upload.predict }}</option>
                      {% for category in categories[upload.plant] %}
                      <option value="{{ category }}||{{ upload.path }}">{{ category }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div>
                    <input type="submit" value="Update"
                      class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn"
                      style=" background-color:#39D2B4;">
                  </div>
                </form>
                <div>
                  <form method="POST" action="/all_upload" class="u-layout-row">
                    <input type="hidden" name="delete" id="delete-check">
                    <input type="submit" value="Delete" name="{{ upload.path }}" onclick="myFunction()" id='delete-prompt'
                      class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn"
                      style="background-color:#eb2525;">
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for page_num in uploads.iter_pages() %}
        {% if page_num %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('all_upload', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    </div>
</section>
{% endblock %}