{% extends "base.html" %} {% block content %}

<section class="u-align-left u-clearfix u-palette-1-light-2 u-section-1" id="sec-6ab9">
  <div class="u-clearfix u-sheet u-sheet-1">

    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-26 u-layout-cell-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <h5 class="u-align-center-xs u-text u-block-5b0f-6" spellcheck="false"><b>​Pepper Plant Diseases Classifier</b></h5>
              <p class="u-text u-text-default u-block-5b0f-7" spellcheck="false">Pepper leaf classifier contain 2 categories:</p>
              <ol class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-block-5b0f-8"
                spellcheck="false">
                <li>Bacterial_spot</li>
                <li>healthy</li>
              </ol>
              <p>This means the model will be good to test if a pepper leave is healthy or not.
                The accuracy achieved when the model was trained on <b style="color:#ff272b" ;>3901</b> data belonging
                to the 2 classes was <b style="color:#ff272b" ;>96%</b>. The
                classifier classifies and gives the confident level of the classification which scale for 0-1
              </p>

            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <div class="u-layout">
                <div class="u-layout-row">
                  <form method="post" action="{{ url_for('pepper') }}" class="u-layout-row">
                    <input type="submit" value="Upload Image" name="upload" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn" >
                    <input type="submit" value="Paste Image Link" name="paste" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn" style="margin-left:5px;">
                    <input type="submit" value="Take Image" name="take_image" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn" style="margin-left:5px;"  >
                  </form>
                </div>
                
                {% if check == "take_image" %}

                  <!-- ==================================== To Take Image ========================== -->
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-8  offset-lg-2">

                        {% if capture %}
                          <img id="re_img" alt="" height=""
                            onload="javascript:(function(){setTimeout(function(){document.getElementById('re_img').src=document.getElementById('re_img').src.split('?')[0]+'?time='+new Date().getTime();},500);}())"
                            src="{{ url_for('static', filename='images/image.png') }}" width="" />
                            <div>
                              <button type="button" class="btn btn-primary btn-lg" id="btn-predict">Predict!</button>
                            </div>
                        {% else %}
                          <img src="{{ url_for('video_feed') }}" height="80%">
                        {% endif %}
                          <form method="post" action="{{ url_for('pepper') }}" class="u-layout-row">
                            <input type="submit" value="Start Camera" name="start" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn" style="margin-left:5px; background-color:#2386c9;">
                            <input type="submit" value="Capture Image" name="capture" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn" style="margin-left:5px; background-color:#39D2B4;">
                            <input type="submit" value="Stop Camera" name="stop" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 my-btn" style="margin-left:5px; background-color:#eb2525;">
                          </form>
                      </div>
                    </div>
                  </div>


                  <!-- ==================================== To Upload Image ========================== -->
                {% elif check == "upload" %}
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                      <label for="imageUpload" class="upload-label">
                        Choose File To Predict...
                      </label>
                      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                    </form>

                    <div class="image-section" style="display:none;">
                      <div class="img-preview">
                        <div id="imagePreview">
                        </div>
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                      </div>
                    </div>
                  </div>
                {% endif %}

                <div class="loader" style="display:none;"></div>

                <h3 id="result">
                  <span> </span>
                </h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}